*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    background-color: rgba(240, 128, 128, 0.1);
    width: 100%;
    height: 837px;
    display: flex;
    position: relative;
}

.vertical{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
}

.vertical span{
    flex: 1;
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    color: lightslategrey;
    opacity: 0.5;
}

.left-content{
    display: inline-block;
    vertical-align: top;
    position: absolute;
    margin-top: 300px;
    margin-left: 250px;
}

.title{
    margin-bottom: 100px;
    font-size: 70px;
    font-weight: 800;
    margin-top: 70px;
}

.left-content h1{
    font-size: 100px;
}

.download-cv-btn{
    background-color: #fd6e0a;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 29px;
    font-size: 22px;
    margin-top: 30px;
    position: relative;
    cursor: pointer;
}

.contact-btn{
    background-color: #fff;
    display: inline-block;
    text-decoration: none;
    color: #fd6e0a;
    border: 1px solid #fff;
    padding: 12px 29px;
    font-size: 22px;
    margin-top: 30px;
    margin-left: 15px;
    position: relative;
    cursor: pointer;
}

nav{
    padding: 0;
    position: absolute;
    border-bottom: 1px dotted hsl(0deg 0% 0% / 0.2);
    width: 100%;
}


.nav-links ul{
    display: flex;
    gap: 12px;
    list-style-type: none;
    align-items: baseline;
    padding: 0px;
    margin-right: 200px;
}

.logo{
    margin-right: auto;
    font-size: 60px;
    font-weight: 800;
    margin-left: 250px;
    margin-top: 30px;
}

.hire-btn{
    background-color: #fd6e0a;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 40px;
    font-size: 22px;
    margin-top: 30px;
    position: relative;
    cursor: pointer;
    margin: 0;

}

.person{
    position: absolute;
    width: 30rem;
    height: auto;
    z-index: 1;
    bottom: 0;
    right: 0;
    margin-right: 40px;
}

.group12{
    position: absolute;
    width: 50rem;
    height: auto;
    bottom: 0;
    right: 0;
}

.about{
    width: 70%;
    height: 600px;
    background-color: #fff8f3;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    background-color: white;
    border: 1px solid black;
}

.personal-info{
    margin-top: 40px;
}

.personal-info ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    margin: 0 20px;
}

.personal-info span{
    opacity: 70%;
}

.skillset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

.skillset ul{
    margin-top: 50px;
    display: flex;
    list-style-type: none;
    width: 70%;    
    gap: 50px;
}

.skillset li{
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.skillset h2{
    margin-top: 30px;
    margin-bottom: 30px;
}

.skill-logo{
    margin-bottom: 10px;
}

.skillset li div{
    font-size: 20px;
    opacity: 70%;
}

.summary{
    width: 70%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 2rem;
}

.summary-btn{
    margin-bottom: 200px;
}

.vertical-box{
    flex: 1 1 0%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.summary-btn{
    margin-left: 50%;
    transform: translate(-50%, 50%);
}

.vertical-box h3{
    opacity: 60%;
    margin-bottom: 20px;
}

.vertical-box h1{
    font-weight: 600;
}

.university{
    font-size: 22px;
}

.vertical-box h2{
    font-size: 26px;
    font-weight: 600;
}

.contact{
    display: flex;
    justify-content: space-between;
    background-color: #fff8f3;
    padding-top: 150px;
    padding-bottom: 150px;
}

.connect{
    padding-left: 250px;
}

.connect p{
    margin-top: 20px;
    margin-bottom: 20px;
}

.icons{
    color: orange;
    font-size: 30px;
}

.icons i{
    margin-right: 20px;
}

.message{
    padding-right: 350px;
}

.message h1{
    margin-bottom: 20px;
}

.message input,
.message textarea{
    margin-bottom: 20px;
    width: 500px;
    height: 60px;
    padding-left: 30px;
}

#description{
    height: 90px;
}