*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.welcome{
    margin-right: 300px;
    margin-top: 70px;
}

.welcome p{
    opacity: 70%;
    margin-top: 30px;
    font-size: 20px;
}

.welcome-text{
    font-size: 70px;
    font-weight: 800;
}

.explore-btn{
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 22px;
    background: #ff9a3c;
    position: relative;
    cursor: pointer;
}

.welcome-image {
    position: relative;
    margin-top: 10px;
}

.icons{
    color: #f05d23;
    margin-bottom: 5px;
}

.rating h2{
    margin-bottom: 5px;
}

.rating{
    position: absolute;
    background-color: white;
    top: 400px;
    left: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    bottom: 0px;
    text-align: center;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.product-overview{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 200px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overview-title{
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 50px;
}

.product-overview p{
    margin-bottom: 50px;
}

.products{
    display: flex;
    list-style-type: none;
    gap: 40px;
}

.products li{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 40px;
}

.products li h2{
    margin: 20px auto;
}

.products li p{
    opacity: 70%;    
}
