*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.nav-bar{
    display: flex;
    width: 80%;
    align-self: center;
    margin-top: 50px;
    flex-wrap: wrap;
}

@media(max-width: 700px){
    .nav-bar{
        gap: 30px;
        width: 80%;
    }
    .header-logo-text{
        margin: 30px auto;
    }
    .hero-main-text,
    .secondary-text
    {
        text-align: center;
    }

    .hero-btn{
        align-self: center;
    }

    .hero-image{
        width: 80%;
    }
    .main-image{
        width: 90%;
        height: 90%;
    }

    .main-image img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.hero-part{
    display: flex;
    width: 80%;
    align-self: center;
    flex-wrap: wrap;
}

.hero-main{
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 30px;
    
}

.header-logo-text{
    margin-right: auto;
}

.header-links ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.hero-image{
    align-self: center;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 1;
}

.main-image{
    width: 600px;
    height: 600px;
}

.main-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero-btn {
 width: fit-content;
 outline: none;
 cursor: pointer;
 border: none;
 padding: 0.9rem 2rem;
 margin: 0;
 font-family: inherit;
 font-size: inherit;
 position: relative;
 letter-spacing: 0.05rem;
 font-weight: 700;
 font-size: 17px;
 border-radius: 500px;
 overflow: hidden;
 background: #3882f6;
 color: ghostwhite;
}

.hero-btn span {
 position: relative;
 z-index: 10;
 transition: color 0.4s;
}

.hero-btn:hover span {
 color: white;
}

.hero-btn::before,
.hero-btn::after {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}

.hero-btn::before {
 content: "";
 background: #3882f6;
 width: 120%;
 left: -10%;
 transform: skew(30deg);
 transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.hero-btn:hover::before {
 transform: translate3d(100%, 0, 0);
}



.header-logo-text{
    font-size: 24px;
    color: #f9faf8;
}

.hero-main-text{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-links a,
.secondary-text{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

/* Information Section */

.information{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    gap: 50px;
}

.information-header-text{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    width: 80%;
    text-align: center;

}

.illustration .box{
    height: 100px;
    width: 100px;
    border: 3px solid #3882f6;
    border-radius: 15px;
}

.illustration-container{
    display: flex;
    width: 80%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.illustration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px auto;
}

.illustration .subtext{
    text-align: center;
}

/* Quote section */

.quote{
    display: flex;
    background-color: #e5e7eb;
    padding: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text{
    font-size: 36px;
    color: #1f2937;
    opacity: 70%;    
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    gap: 30px;
}

.quote-owner{
    color: black;
    font-weight: 1000;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}


@media(max-width: 700px){
    .quote-text{
        font-size: 20px;
        text-align: center;
    }

}

/* Call to action */

.call-to-actions{
    width: 60%;
    background-color: #3882f6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;
    padding: 30px;
    gap: 40px;
    border-radius: 15px;
    color: white;
    flex-wrap: wrap;
}

.button-27 {
  flex-grow: 1;
  flex-shrink: ;
  appearance: none;
  background-color: #3882f6;
  border-radius: 15px;
  box-sizing: border-box;
  border: 2px solid white;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

@media(max-width: 700px){
    .call-to-actions{
        gap: 40px;
        text-align: center;
    }
    .call-to-actions h2{
        margin-bottom: 30px;
    }
}

/* Footer section */
.footer{
    color: white;
    font-weight: 400;
    background-color: #1f2937;
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
}